.bgimg {
  display: flex;
  justify-content: center;
}

.bgimg img {
  width: 95%;
}

.hbg {
  background-color: #f9bf51;
}

.hbg .vline {
  border-left: 2px solid white;
  border-right: 2px solid white;
  align-self: center;
  height: 95%;
}

.hbg .vline {
  border-left: 1 px solid white;
}

.support {
  background-color: #eaeaea;
  width: 95%;
}

.support .col1 {
  padding-top: 35px;
  text-align: center;
  justify-items: center;
}
.support h3 {
  background-color: #ed6124;
  color: white;
  padding: 5px;
  width: 80%;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

.support .card-body {
  background-color: #eaeaea;
}

.support .card-body h4 {
  font-family: "Times New Roman", Times, serif;
  color: #ed6124;
}
.support .col2 {
  padding-top: 35px;
  align-items: center;
}

.support .col2 img {
  height: 90%;
}

.support .col2 .card {
  margin-top: -15px;
}

.support .col2 .btn {
  background-color: #ed6124;
  color: white;
  width: 100%;
}
