.contacttxt {
  background-color: #eaeaea;
  width: 95%;
  justify-self: center;
  margin-top: -5px;
}

.contacttxt h2 {
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  margin: 5px;
  font-family: "Times New Roman", Times, serif;
}

.contactform {
  width: 95%;
  justify-self: center;
  padding: 5px;
}

.contactform .btn {
  display: flex;
  justify-self: center;
  background-color: #ed6124;
}
