.projectstxt {
  background-color: #eaeaea;
  text-align: center;
  width: 95%;
  justify-self: center;
  margin-top: -5px;
}

.projectstxt h2 {
  font-size: 45px;
  font-weight: bold;
  margin: 5px;
  font-family: "Times New Roman", Times, serif;
}

.projectsinfo {
  justify-items: center;
  background-color: #eaeaea;
}

.projectsinfo img {
  width: 50%;
}
