.logo {
  justify-items: center;
  align-items: center;
}

.logo img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin: 5px;
}

.htext {
  text-align: center;
  margin: 5px;
}
.htext h1 {
  font-size: 50px;
  font-weight: bold;
  margin: 5px;
  font-family: "Times New Roman", Times, serif;
}

.navbar {
  background-color: #88b235;
  padding: 15px;
  margin-left: 2px;
  margin-right: 2px;
}

.collapse {
  align-items: center;
  justify-content: center;
}

.collapse .nav-item a {
  margin-right: 50px;
  font-size: large;
  color: black;
}

.collapse .nav-item a:hover {
  color: white;
}

.navbar .btn {
  font-size: large;
  justify-items: end;
}
