.signintxt {
  background-color: #eaeaea;
  text-align: center;
  width: 95%;
  justify-self: center;
  margin-top: -5px;
}

.signintxt h2 {
  font-size: 45px;
  font-weight: bold;
  margin: 5px;
  padding: 25px;
  font-family: "Times New Roman", Times, serif;
}

.signintxt form {
  width: 50%;
  justify-self: center;
  padding-bottom: 60px;
}

.signintxt input {
  border: #eaeaea;
}

.signintxt .btn {
  background-color: #ed6124;
  color: white;
  width: 50%;
}
